@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&display=swap');

$gray: #e1e1e1;
$brown: #3f1300;

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
}

.header {
  background-image: url(/build/images/banner.webp);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-text {
  text-align: center;
  margin-top: 8rem;
  color: white;
}

.logo {
  color: white;
  font-size: 2.3rem;
  font-weight: 400;
}

.logo:hover {
  transition: transform 0.4s ease;
  transform: scale(1.1);
}

.logo span {
  font-weight: 700;
}

.nav a {
  color: white;
  margin-left: 1rem;
}

.nav a:hover {
  transition: color 0.4s ease;
  color: wheat;
}

.align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.contenido-principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

.blogs h3 {
  text-align: center;
  margin: 2.5rem 0;
  font-size: 2rem;
}

.blogs h4 {
  font-size: 1.4rem;
}

.blogs p {
  line-height: 2;
}

.blog {
  border-bottom: 1px solid $gray;
  margin-bottom: 2rem;
}

.button {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  border: none;
  border-radius: 10px;
}

.button:hover {
  transition: background-color 0.3s ease;
  background-color: $brown;
  cursor: pointer;
}

.button-width {
  display: flex;
  justify-content: center;
}

.aside h3 {
  font-size: 2rem;
}

.courses {
  padding: 0;
}

.course-prices {
  border-bottom: 1px solid $gray;
}

.course-price {
  font-weight: 700;
}

.course-price span {
  font-weight: 400;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.about h3 {
  font-size: 2rem;
  text-align: center;
}

.about p {
  line-height: 2;
}

.footer {
  background-color: black;
  margin-top: 3rem;
}

.courses h3 {
  text-align: center;
  font-size: 2rem;
}

.course-content h4 {
  font-size: 1.5rem;
}

.course-content p {
  line-height: 2;
}

.course {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid $gray;
}

.contact h3 {
  text-align: center;
  font-size: 2rem;
}

.contact-image {
  background-image: url(/build/images/contact.webp);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background-color: white;
  margin: -3rem auto 0 auto;
  width: 90%;
  padding: 3rem 1rem 0 1rem;
  border-radius: 10px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.field-label {
  flex: 0 0 5rem;
  text-align: right;
  margin-right: 1rem;
}

.input {
  flex: 1;
  border: 1px solid $gray;
  padding: 10px;
  margin: 0px 1.5rem;
  border-radius: 10px;
}

.field textarea {
  height: 12rem;
}

.info h3 {
  text-align: center;
  font-size: 2rem;
}

.info p {
  line-height: 2;
}

@media only screen and (width <=992px) {
  .container {
    width: 90%;
  }
}

@media only screen and (width <=576px) {
  .container {
    width: 90%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav a {
    margin: 10px 0;
  }

  .align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contenido-principal,
  .about-grid,
  .course,
  .form,
  .field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .form {
    width: 100%;
    padding: 2rem 0 0 0;
  }

  .input {
    flex: none;
  }

  .contact-image {
    height: 15rem;
  }

  .field-label {
    flex: 0 0 2rem;
    margin-right: 0;
    text-align: center;
  }
}